---
import BaseLayout from '../../layouts/BaseLayout.astro'
import BlogPostCard from '../../components/BlogPostCard.astro'

export async function getStaticPaths() {
  const allPosts = await Astro.glob('../posts/*.md')
  const uniqueTags = [...new Set(allPosts.map((post) => post.frontmatter.tags).flat())]

  return uniqueTags.map((tag) => {
    const filteredPosts = allPosts
      .filter((post) => post.frontmatter.tags.includes(tag))
      .sort(
        (a, b) =>
          new Date(b.frontmatter.pubDate).valueOf() - new Date(a.frontmatter.pubDate).valueOf()
      )
    return {
      params: { tag },
      props: { posts: filteredPosts },
    }
  })
}

const { tag } = Astro.params
const { posts } = Astro.props
---

<BaseLayout pageTitle={tag}>
  <h2 class='text-center text-2xl pt-6'>Ideas For {tag}</h2>

  <div class='grid grid-cols-3 gap-8 pt-4 max-w-6xl mx-auto'>
    {
      posts.map((post) => (
        <BlogPostCard
          url={post.url}
          title={post.frontmatter.title}
          imageUrl={post.frontmatter.image_url}
        />
      ))
    }
  </div>
</BaseLayout>
